// This is where we put global styles and change variable values
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
$turqoise: #44ddd0;
$green: #27d7a1;
$light-green: #45f69e;
$light: #f8f8f8;
$dark-green: rgb(0, 100, 80);

// Update bulmas global variables
$famiy-sans-serif: "Numito", sans-serif;
$primary-color: $green;
$link: $light-green;

// Update some bulma's components variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Set custom global styles (applied to whole project)
html {
  background: linear-gradient(to right top, $turqoise, $green);
}

html,body{
  height: 100%;
  // width: 100%;
}
